:root {
	--ar-blue: #03131c;
	--ar-green: #afff15;
}

html, body {
	background-color: var(--ar-blue);
	color: var(--ar-green);
	text-align: center;
}

a {
	text-decoration: none;
}

.fab {
	color: var(--ar-green);
}